<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a la Tienda</title>
    <link rel="stylesheet" href="{% static 'boostrap/css/boostrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-center"><h1 class="display-1">Tienda</h1> </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="row" style="padding: 10px 0;">
                    <div class="col-12">
                        <div class="row">
                            {% for producto in productos %}
                            <div class="col-6">
                                <div class="card" style="height: 10rem; width: 23rem; margin: 5px 0;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{producto.nombre}}</h5>
                                        <p class="card-text">{{producto.categoria}}</p>
                                        <p class="card-text">{{producto.precio}}</p>
                                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                                    </div> 
                                </div>
                            </div>
                            
                            {% endfor %}
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-4">
                carrito
            </div>
        </div>

    </div>
    
    <link rel="stylesheet" href="{% static 'boostrap/js/boostrap.bundle.min.js' %}">
</body>
</html>